<head>
    <link rel="stylesheet" href="~/Content/LendRecord.css">
    <script src="~/Scripts/LendRecord.js"></script>
</head>


<div class="form-horizontal">

    <hr />
    <br />
    <br />
    <h2>借閱紀錄</h2>
    <div id="lend_grid"></div>
</div>


<div>
        <input type="button" value="回上一頁" class="btn btn-default" onclick="history.back()"/>

</div>

